:root{
    --blue:#002856;
    --green:#77BC1F;
    --black:#192a56;
    --red:#e2231a;
    --plomoletra:#818181;
    --plomofondo:#ededed;
    --plomopie:#404040;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    transition: all .2s linear;
}

html{
    font-size:  62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


/* section{
    padding: 2rem 9%;
}

section:nth-child(){
    background: #eee;
} */

h1{
    font-family: Montserrat-Bold;
    color: var(--green);
    font-size: 2rem;
    margin-bottom: 1rem;    
}

h2{
    font-family: Montserrat-SemiBold;
    font-size: 2rem;
    color: var(--plomoletra);
    margin-bottom: 1rem;
}

h3{
    font-family: Montserrat-Medium;
    font-size: 1.5rem;
    padding-left: 2rem;
}

p{
    font-family: Montserrat-Light;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}

header{
    position: absolute;
    top:0; left: 0; right: 0;
    background: #fff;
    padding: 1rem 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header a img{
    width: 70%;
}

header .navbar a{
    font-size: 1.9rem;
    font-weight: 900;
    border-radius: .5rem;
    padding: .5rem 2rem;
    color:var(--blue);
    font-family: TodaySB-Bold;
}

header .navbar a.active,
header .navbar a:hover{
    background: var(--plomofondo);
}

header .navbar .online{
    color: #fff;
    background: var(--blue);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}
/*
#search-form{
    position: fixed;
    top: -110%; left: 0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top: 0;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-from label:hover{
    color: var(--green);
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;right: 3rem;
    font-size: 5rem;
} */


.page .page-slider .slide,
.home .home-slider .slide{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

/* .home .home-slider .slide .content{
    flex: 1 1 45rem;    
}

.home .home-slider .slide .image{
    flex: 1 1 45rem;    
} */

.home .home-slider .slide .image img{
    width: 100%;
    /* height: 400; */
}

.home .home-slider .slide .aparece.flota{
    position: absolute;
    z-index: 1;
    left: 18%;
    width: 30%;
    top: 25%;
    opacity: 0;    
}

.home .home-slider .slide .aparece.flota.active,
.home .home-slider .slide .aparece.flota:hover{
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 7s;
    -moz-transition: opacity 7s;
    -o-transition: opacity 7s;
}


.home .home-slider .slide .aparece img{
    width: 100%;
}

.home .home-slider .slide .aparece2.flota{
    position: absolute;
    z-index: 1;
    left: 70%;
    width: 30%;
    top: 25%;
    opacity: 0;    
}

.home .home-slider .slide .aparece2.flota.active,
.home .home-slider .slide .aparece2.flota:hover{
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 7s;
    -moz-transition: opacity 7s;
    -o-transition: opacity 7s;
}


.home .home-slider .slide .aparece2 img{
    width: 100%;
}

/* 
.home .home-slider .slide .content span{
    color: var(--green);
    font-size: 2.5rem;    
}

.home .home-slider .slide .content h3{
    color: var(--black);
    font-size: 7rem;    
}

.home .home-slider .slide .content p{
    color: var(--light-color);
    font-size: 2rem;
    padding: 5rem 0;
    line-height: 1.5;
} */

.swiper-pagination-bullet-active{
    background:var(--green);
}

.swiper-button-next,
.swiper-button-prev{
    color: #fff;
    font-weight: bold;
}

.home .home-slider .accesos{
    position: absolute;
    z-index: 5;
    bottom: 0.4rem;
    left: 0;
    background: transparent;
    width: 100%;
}

.home .home-slider .accesos .notop{
    display: flex;
    justify-content: center;
}

.home .home-slider .accesos .notop a .fondo{
    opacity: 0.3;
}

.home .home-slider .accesos .notop a{
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    border-right: whitesmoke 1px solid;
    width: 9%;
    padding: 1rem 0;    
    background:rgba(237,237,237,.2);
    font-family: Montserrat-SemiBold;
}

.home .home-slider .accesos .notop a:hover{
    background: rgba(0,40,86,0.8);
    transform: scale(1.1);
}

.home .home-slider .accesos .notop a img{
    width: 60%;
    height: 60%;
}

.page .page-slider .accesos-det{
    position: absolute;
    z-index: 5;
    /* bottom: 0.4rem; */
    left: 0;
    top: 90px;
    background: transparent;
    width: 100%;
}

.page .page-slider .accesos-det .notop-det{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page .page-slider .accesos-det .notop-det a .fondo{
    opacity: 0.3;
}

.page .page-slider .accesos-det .notop-det a{
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    /* width: 9%;   */
    /* background:rgba(237,237,237,.2); */
    padding: 0 5rem;
}

.page .page-slider .accesos-det .notop-det a:hover{
    transform: scale(1.10);
    /* background: rgba(176, 198, 224, 0.3); */
}

.page .page-slider .accesos-det .notop-det a img{
    /* width: 30%; */
    height: 40px;
    float: left;
}

.page .page-slider .accesos-det .notop-det a span{
    position: relative;
    top: 1rem;
}

.home .tab-vertical{
    display: none;
    justify-content: center;
    background:var(--plomofondo);
    padding: 2rem; 
}

.home .tab-vertical.active{
    display: flex;
}

.home .tab-vertical .nav{
    width: 20%;
}

.home .tab-vertical .nav a{
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 2rem;
    color: #fff;
    border: #fff 1px solid;
    background: var(--green);
    font-family: Montserrat-Bold;
}

.home .tab-vertical .nav a:hover,
.home .tab-vertical .nav a.active{
    background: var(--plomoletra);
}


.home .tab-vertical .nav a i{
    font-size: 2rem;
}

.home .tab-vertical .nav a i.menu-lat-enlace-flecha{
    display: none;
    float:right;
}

.home .tab-vertical .nav a i.active{
    display: flex;
}

.home .tab-vertical .content{
    width: 50%;
    background: var(--plomoletra);
}

.home .tab-vertical .content .panel .menu-lat-det{
    display: none;    
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
}

.home .tab-vertical .content .panel .menu-lat-det.active{
    display: grid;
}

.home .tab-vertical .content .panel .menu-lat-det a{
    padding: 2.2rem;
    /* border-radius: .5rem; */
    /* border: .1rem solid rgba(0,0,0,.1); */
    /* box-shadow:var(--box-shadow); */
    position: relative;
    overflow: hidden;
    /* text-align: center; */
    color: #fff;
    font-family: Montserrat-Medium;
}

.home .tab-vertical .content .panel .menu-lat-det a:hover,
.home .tab-vertical .content .panel .menu-lat-det a:active{
    background: rgba(0,40,86,.9);
    transform: scale(1.10);
}

.home .tab-vertical .content .panel .menu-lat-det a div{
    font-size: 1.5rem;
    /* text-decoration: underline; */
    border-bottom: 1px solid;

}

.home .tab-vertical .content .panel .menu-lat-det a p{
    font-size: 1.3rem;
    padding: 0.5rem;
    text-align: justify;
}

.home .tab-vertical .tipo-ahorros{
    background: var(--plomoletra);
    display: flex;
    /* padding: 2.2rem; */
}

.home .tab-vertical .tipo-ahorros .enlace-ahorros{ 
    /* float: left;
    display: flex; */
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
    display: grid;
}

.home .tab-vertical .tipo-ahorros .enlace-ahorros a{
    font-size: 1.4rem;
    padding: 2.2rem;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-family: Montserrat-Medium;
}

.home .tab-vertical .tipo-ahorros .enlace-ahorros a:hover,
.home .tab-vertical .tipo-ahorros .enlace-ahorros a:active{
    background: rgba(0,40,86,.9);
    transform: scale(1.10);
}

.home .tab-vertical .tipo-ahorros .enlace-ahorros a div{
    font-size: 1.5rem;
    border-bottom: 1px solid;
    padding: 0 3rem 0 0;
}

footer .enlaces{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;    
}

footer .enlaces .nav a{
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .5rem;
    padding: .5rem 2rem;
    color:var(--plomoletra);
    font-family: TodaySB-Bold;
}

footer .enlaces .nav a:active,
footer .enlaces .nav a:hover{
    background: var(--green);
    color: #fff;
}

footer .contacto{
    background: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

footer .contacto .datos{
    color: #fff;
    width: 22.5%;
    margin: .5rem;
}

footer .contacto .datos span{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Montserrat-SemiBold;
}

footer .contacto .datos p{
    margin-top: 1rem;
    font-size: 1.3rem;
    font-family: Montserrat-Medium;
}

footer .contacto .datos .tel{
    font-size: 3.2rem;
    font-family: Montserrat-Medium;
}

footer .contacto .horario{
    text-align: center;
}

footer .contacto .centraltel{
    text-align: right;
}

footer .msjrecursos{
    background: var(--plomopie);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
}

footer .msjrecursos .mensaje{
    width: 40%;
    text-align: justify;
    padding: 1.5% 10% 2% 0;
    font-size: 1.4rem;
}

footer .msjrecursos .mensaje p{    
    font-family: MuseoSans300Regular;
}

footer .msjrecursos .equipo{
    width: 27%;
    text-align: right;
}
/* 
.page .tab-vertical{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 130px;
    z-index: 5;
    background:var(--plomofondo);
    width: 100%;
} */


/* menu flotante paginas */


.page .tab-vertical{
    display: none;
    justify-content: center;
    /* background:var(--plomofondo); */
    background: transparent;
    padding: 0 auto; 
    position: absolute;
    top: 130px;
    z-index: 5;
    width: 100%;
}

.page .tab-vertical.active{
    display: flex;
}

.page .tab-vertical .nav{
    width: 20%;
}

.page .tab-vertical .nav a{
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 2rem;
    color: #fff;
    border: #fff 1px solid;
    /* background: var(--green); */
    background: rgba(47, 74, 12, 0.5);
    font-family: Montserrat-Bold;
}


.page .tab-vertical .nav a:hover
,.page .tab-vertical .nav a.active
{
    /* background: var(--plomoletra); */
    background: rgba(75, 75, 75, 0.5);
    transform: scale(1.10);
}


.page .tab-vertical .nav a i{
    font-size: 2rem;
}

.page .tab-vertical .nav a i.menu-lat-enlace-flecha{
    display: none;
    float:right;
}

.page .tab-vertical .nav a i.active{
    display: flex;
}

.page .tab-vertical .content{
    /* background: var(--plomoletra); */
    background: rgba(75, 75, 75, 0.5);
    width: 50%;
}

.page .tab-vertical .content .panel .menu-lat-det{
    display: none;    
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
}

.page .tab-vertical .content .panel .menu-lat-det.active{
    display: grid;
}

.page .tab-vertical .content .panel .menu-lat-det a{
    padding: 2.2rem;
    /* border-radius: .5rem; */
    /* border: .1rem solid rgba(0,0,0,.1); */
    /* box-shadow:var(--box-shadow); */
    position: relative;
    overflow: hidden;
    /* text-align: center; */
    color: #fff;
    font-family: Montserrat-Medium;
}

.page .tab-vertical .content .panel .menu-lat-det a:hover,
.page .tab-vertical .content .panel .menu-lat-det a:active{
    background: rgba(0,40,86,.5);
    transform: scale(1.10);
}

.page .tab-vertical .content .panel .menu-lat-det a div{
    font-size: 1.5rem;
    /* text-decoration: underline; */
    border-bottom: 1px solid;

}
/* 
.page .tab-vertical .content .panel .menu-lat-det a p{
    font-size: 1.3rem;
    padding: 0.5rem;
    text-align: justify;
} */

.page .tab-vertical .tipo-ahorros{
    background: rgba(75, 75, 75, 0.5);
    display: flex;
    /* padding: 2.2rem; */
}

.page .tab-vertical .tipo-ahorros .enlace-ahorros{ 
    /* float: left;
    display: flex; */
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
    display: grid;
}

.page .tab-vertical .tipo-ahorros .enlace-ahorros a{
    font-size: 1.4rem;
    padding: 2.2rem;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-family: Montserrat-Medium;
}

.page .tab-vertical .tipo-ahorros .enlace-ahorros a:hover,
.page .tab-vertical .tipo-ahorros .enlace-ahorros a:active{
    background: rgba(0,40,86,.5);
    transform: scale(1.10);
}

.page .tab-vertical .tipo-ahorros .enlace-ahorros a div{
    font-size: 1.5rem;
    border-bottom: 1px solid;
    padding: 0 3rem 0 0;
}


/* fin menu flotante paginas*/

.page .contenedor{
    display: flex;
    justify-content: center;
    padding: 0 15%;
}

.page .contenedor .menu-detalle{
    width: 30%;
}

.page .contenedor .menu-detalle .lista-enlace{
    display: none;
    padding-top: 4rem;
    width: 80%;
}

.page .contenedor .menu-detalle .lista-enlace.active{
    display: block;
}

.page .contenedor .menu-detalle .lista-enlace a{
    font-size: 1.3rem;
    font-weight: bold;
    display: block;      
    background-color: var(--green);
    color: #fff;
    padding: 1rem 1.5rem;
    border-bottom: #fff solid 1px;
}

.page .contenedor .menu-detalle .lista-enlace a.active,
.page .contenedor .menu-detalle .lista-enlace a:hover{
    background-color: var(--plomoletra);
}

.page .contenedor .descripcion{
    width: 70%;
    color: var(--plomoletra);
    margin-top: 20px;
}

.page .contenedor .descripcion ul{
    font-size: 1.4rem;
    padding-left: 3.5rem;
    padding-bottom: 1rem;
    list-style-image: url("../img/circulo.png");
}

.page .contenedor .descripcion .enlace{
    display: flex;
}

.page .contenedor .linea{
    width:100%;
    border-bottom:1px solid var(--plomoletra);
    padding-top: 1%;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    width: 80%;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: var(--plomoletra);
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: var(--green);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .enlace{
    padding-left: 70%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: TodaySB-Bold;
  }

  .enlace a{
    color: #fff;
    font-size: 1.5rem;
    background: var(--blue);
    font-weight: bold;
    padding: 0.5rem 2.5rem;
    border-radius: 0.9rem;
  }

  .enlace-ad{
      padding-top: 2rem;
      font-family: TodaySB-Bold;
  }

  .enlace-ad a{
    color: #fff;
    font-size: 1.4rem;
    background: var(--blue);
    font-weight: bold;
    padding: 0.5rem 2.5rem;
    border-radius: 0.9rem;
    margin-right: 3rem;
  }

  /* 
    estilos para pagina nostros
  */

  #nosotros .contenedor .descripcion{
      color: #fff;
      font-family: Montserrat-Light;
  }

  #nosotros .contenedor .descripcion .somos{
      position: relative;
      padding-top: 2rem;
      color: var(--plomopie);
  }

  #nosotros .contenedor .descripcion .consejo{
    color: var(--green);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 2rem 0;
}

  #nosotros .contenedor .descripcion .somos .solapa{
      text-align: center;
      font-size: 1.5rem;
      padding: 2% 45%;
      font-weight: bold;
  }

  #nosotros .contenedor .descripcion .somos .solapa div{
      border-bottom: gray solid 1px;
  }

  .titulo{
    padding: 0 50% 0 0;
  }

  .titulo h1{
    text-align: left;
    padding-bottom: 3%;
    border-bottom: 3px solid;
  }

  #nosotros .contenedor .descripcion .somos .detalle .titulo{
      padding: 0 50% 0 0;      
  }

  #nosotros .contenedor .descripcion .somos .detalle .titulo h1{
    text-align: left;
    padding-bottom: 3%;
    border-bottom: 3px solid;
  }

  #nosotros .contenedor .descripcion .somos .detalle p{
      text-align: justify;
  }

  #nosotros .contenedor .descripcion .division{
      display: grid;
      grid-template-columns: 50% 50%;
  }

  #nosotros .contenedor .descripcion .division .texto{
      text-align: justify;
      background-color: var(--light-color);
      float: left;
      font-size: 1.7rem;
  }

  #nosotros .contenedor .descripcion .division .texto .solapa{
    text-align: center;
    padding: 7% 40%;
  }

  #nosotros .contenedor .descripcion .division .texto .solapa div{
    border-bottom: #fff solid 1px;
    font-size: 1.8rem;
  }

  #nosotros .contenedor .descripcion .division .texto div h2{
      text-align: center;
      color: #fff;
  }

  #nosotros .contenedor .descripcion .division .texto .mision{
      padding-right: 30%;
      padding-left: 5%;
      padding-top: 5%;
      padding-bottom: 2%;
      text-align: left;
  }

  #nosotros .contenedor .descripcion .division .texto .vision{
    padding-left: 30%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: right;
  }

  #nosotros .contenedor .descripcion .division .texto .lista{
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 5%;
  }

  #nosotros .contenedor .descripcion .division .texto .lista ul li{
    font-size: 1.7rem;
    /* letter-spacing: 1.3; */
  }

  #nosotros .contenedor .descripcion .division .imagen{
    background-color: var(--plomopie);
    height: 100%;
  }

  #nosotros .contenedor .descripcion .division .directivos{
    text-align: justify;
    float: left;
    font-size: 1.7rem;
    padding-bottom: 2rem;
}

  #nosotros .contenedor .descripcion .division .directivos .directivo{
    padding-bottom: 1%;
  }

  #nosotros .contenedor .descripcion .division .directivos .directivo .cargo{
    font-family: Montserrat-Light;
    font-style: italic;
    color: var(--plomoletra);
  }

  #nosotros .contenedor .descripcion .division .directivos .directivo .nombre{
    font-family: Montserrat-Medium;
    color: var(--plomopie);
  }

  #nosotros .contenedor .descripcion .division a{
      background: rgba(119, 188, 31, 0.7);
      color: #fff;
      margin: 2px;
      font-size: 1.3rem;
      font-weight: bold;
      padding: 1.5rem 2rem;
      text-align: center;
  }

  #nosotros .contenedor .descripcion .division a:hover{
      transform: scale(1.05);
      background: rgba(119, 188, 31, 1);
  }

  #nosotros .contenedor .descripcion .division a .flecha-baja{
      display: inline;
  }

  #nosotros .contenedor .descripcion .division a .flecha-baja.active{
      display: none;
  }

  #nosotros .contenedor .descripcion .division a .flecha-sube{
    display: none;
}

#nosotros .contenedor .descripcion .division a .flecha-sube.active{
    display: inline;
}

#nosotros .contenedor .descripcion .division .memorias{
    display: none;
    padding: 0;
}

#nosotros .contenedor .descripcion .division .memorias.active{
    display: inline-grid;
}

#nosotros .contenedor .descripcion .division .memorias a{
    width: 100%;
    background-color: var(--plomoletra);    
} 

/* canales de atención */

/* #canales .contenedor .descripcion .division .mapa{
    height: 700px;
} */

#canales .contenedor .descripcion .division .mapa img{
    height: 100%;
}

#canales .contenedor .descripcion .division .detag{
    background-color: white;
    position: absolute;
    padding:1.1rem;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    margin-left: 25%;
    margin-right: 15%;
    box-shadow: var(--box-shadow);
    text-align: center;
}

#canales .contenedor .descripcion .division .detag h3{
    padding-bottom: 1rem;
    font-weight: bolder;
    color: var(--green);
}

#canales .contenedor .descripcion .division .detag p{
    font-size: 1.2rem;
}

#canales .contenedor .descripcion .division .detag p span{
    font-weight: bolder;
}

#canales .contenedor .descripcion .division .detag .fotoag{
    display: grid;
    grid-template-columns: 50% 50%;
}

#canales .contenedor .descripcion .division .detag .fotoag img{
    width: 100%;}

#canales .contenedor .descripcion .division .detag .fotoag span{
    margin-right: 1rem;
    font-size: 1.3rem;
    font-weight: bolder;
}

.page .page-slider .wrapper .slide .image{
    height:310px;
    overflow: hidden;
}

.page .page-slider .wrapper .slide .image img{
    width: 100%; 
    position: absolute; 
    /* top: -80px; */
}


/* previsión social */

#servicios .contenedor .descripcion .prevsocial .detalle ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#servicios .contenedor .descripcion .prevsocial .detalle ul li{
    padding: 1rem 2rem 1rem 1rem;
}

#servicios .contenedor .descripcion .prevsocial .detalle ul li span{
    color: var(--plomopie);
}

#servicios .contenedor .descripcion .prevsocial .detalle ul li p{
    text-align: justify;
}

#servicios .contenedor .descripcion .prevsocial .detalle .linkplanes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#servicios .contenedor .descripcion .prevsocial .detalle .linkplanes a{
    background-color: var(--green);
    color: white;
    padding: 1.5rem;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.2rem;
}

#servicios .contenedor .descripcion .prevsocial .detalle .linkplanes a:hover{
    background-color: var(--plomoletra);
    color: var(--plomopie);
    transform: scale(1.1);
}

#servicios .contenedor .descripcion .prevsocial .detalle .linkplanes a.active{
    background-color: var(--plomoletra);
}

#servicios .contenedor .descripcion .prevsocial .detalle .planes{
    display: none;
}

#servicios .contenedor .descripcion .prevsocial .detalle .planes.active{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#servicios .contenedor .descripcion .prevsocial .detalle .planes .plan{
    background-color: var(--plomoletra);
    margin: 1rem 1rem 0 0.2rem;
    text-align: center;
    padding: 2rem 2rem 4rem 2rem;
}

#servicios .contenedor .descripcion .prevsocial .detalle .planes .plan p{
    color: white;
    font-size: 2.5rem;
    font-weight:bold;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

#servicios .contenedor .descripcion .prevsocial .detalle .planes .plan span{
    background-color: white;
    font-weight: bold;
    color: var(--blue);
    font-size: 2.5rem;
    border-radius: 2rem;
    padding: 1rem 4rem 1rem 4rem;
}

#servicios .contenedor .descripcion .prevsocial .detalle .documen.active{
    display:grid;
}

#servicios .contenedor .descripcion .prevsocial .detalle .documen{
    background-color: var(--plomoletra);
    margin: 1rem 1rem 0 0.2rem;
    text-align: center;
    padding: 2rem 2rem 4rem 2rem;
    display: none;
}

#servicios .contenedor .descripcion .prevsocial .detalle .documen a{
    color: white;
    font-size: 2rem;
}

#servicios .contenedor .descripcion .prevsocial .detalle .documen a:hover{
    transform: scale(1.1);
    color: var(--plomopie) ;
}

/*  beneficios  */

#servicios .contenedor .descripcion .beneficios .detalle .linkbeneficios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#servicios .contenedor .descripcion .beneficios .detalle .linkbeneficios a{
    background-color: var(--green);
    color: white;
    padding: 1.5rem;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.2rem;
}

#servicios .contenedor .descripcion .beneficios .detalle .salud{
    background-color: var(--plomoletra);
}

#servicios .contenedor .descripcion .beneficios .detalle .salud .medicion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#servicios .contenedor .descripcion .beneficios .detalle .salud .medicion .medidas{
    text-align: center;
    padding: 4rem 2rem 4rem 2rem;
}

#servicios .contenedor .descripcion .beneficios .detalle .salud .medicion .medidas img{
    width: 100%;
    height: 12rem;
}

#servicios .contenedor .descripcion .beneficios .detalle .salud .medicion .medidas span{
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

#servicios .contenedor .descripcion .beneficios .detalle .salud .locales{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#servicios .contenedor .descripcion .beneficios .detalle .salud .locales .local{
    background-color: white;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-align: center;
    padding: 2rem 2rem 4rem 2rem;
}

#servicios .contenedor .descripcion .beneficios .detalle .salud .locales .local .tit{
    padding: 0 0 3% 0;
    text-align: center;
    border-bottom: 3px solid var(--green);
    margin: 0 15%;
}

#servicios .contenedor .descripcion .beneficios .detalle .salud .locales .local .tit span{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--blue);
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

#servicios .contenedor .descripcion .beneficios .detalle .salud .locales .local p{
    font-size: 1.3rem;
}

#servicios .contenedor .descripcion .beneficios .detalle .taller{
    display: none;
}

#servicios .contenedor .descripcion .beneficios .detalle .complejo{
    display: none;
}

#servicios .contenedor .descripcion .intercoopac .coopacs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#servicios .contenedor .descripcion .intercoopac .coopacs a{
    background-color: var(--green);
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin: 0.2rem;
}

#servicios .contenedor .descripcion .pagos .detalle .convenio{
    padding-top: 4rem;
}

#servicios .contenedor .descripcion .pagos .detalle .convenio span{
    background-color: var(--green);
    font-weight: bold;
    color: white;
    font-size: 1.7rem;
    border-radius: 2rem;
    padding: 1rem 7rem 1rem 7rem;
    text-transform: uppercase;
}

#servicios .contenedor .descripcion .pagos .detalle .convenio .division{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
}

#servicios .contenedor .descripcion .pagos .detalle .convenio .lin{
    padding: 3% 15% 3% 15%;
}

#servicios .contenedor .descripcion .pagos .detalle .convenio .lin div{
    border-bottom: 3px solid var(--green);
}

/* media queries */

@media (max-width:1600px){  

    header .navbar a{
        font-size: 1.7rem;
        font-weight: bold;
        padding: .5rem 1.8rem;
    }

    .page .page-slider .wrapper .slide .image{
        height:300px;
    }
/*     
    .page .page-slider .wrapper .slide .image img{
        top: -60px;
    } */
}

@media (max-width:1460px){

    header .navbar a{
        font-size: 1.5rem;
        font-weight: bold;
        padding: .5rem 1.5rem;
    }

}

@media (max-width:1330px){

    header .navbar a{
        font-size: 1.4rem;
        font-weight: bold;
        padding: .5rem 1.3rem;
    }

    .page .page-slider .wrapper .slide .image{
        height:275px;
    }
/*     
    .page .page-slider .wrapper .slide .image img{
        top: -50px;
    } */

}

@media (max-width:1251px){

    header .navbar a{
        font-size: 1.2rem;
        font-weight: bold;
        padding: .5rem 1.5rem;
    }

    .page .page-slider .accesos-det .notop-det a{
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0 2rem;
    }
    
    .page .page-slider .accesos-det .notop-det a img{
        /* width: 30%; */
        height: 32px;
    }

    .page .page-slider .wrapper .slide .image{
        height:250px;
    }
    
    /* .page .page-slider .wrapper .slide .image img{
        top: -40px;
    } */

}

@media (max-width:1185px){

    header .navbar a{
        font-size: 1.1rem;
        font-weight: bold;
        padding: .5rem 0.5rem;
    }

}

@media (max-width:1020px){
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }    

    /* section{
        padding: 2rem;
    } */

    .home .tab-vertical{
        padding: 1rem;
    }

    .home .tab-vertical .nav{
        width: 30%;
    }

    .home .tab-vertical .nav a{
        padding: 1rem;
    }

    .home .tab-vertical .content{
        width: 60%;
    }

    .page .page-slider .accesos-det .notop-det a{
        font-size: 1rem;
        font-weight: bold;
        padding: 0 1rem;
    }
    
    .page .page-slider .accesos-det .notop-det a img{
        /* width: 30%; */
        height: 32px;
    }

    .page .page-slider .wrapper .slide .image{
        height:200px;
    }
/*     
    .page .page-slider .wrapper .slide .image img{
        top: 20px;
    } */
}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0;right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem 0;
        font-size: 2rem;
        background: #eee;
    }
/* 
    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    } */
    
    .home .tab-vertical{
        padding: 0.5rem;
    }

    .home .tab-vertical .nav{
        width: 25%;
    }

    .home .tab-vertical .nav a{
        padding: 0.5rem;
    }

    .home .tab-vertical .content{
        width: 60%;
    }
    
}


@media (max-width:576px){
    html{
        font-size: 35%;
    }

    header a.logo img{
        width: 90px;
    }

    footer .enlaces{
        display: block;
        width: 100%;
    }

    footer .enlaces .nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer .msjrecursos{
        display: block;
    }

    footer .msjrecursos .mensaje{
        width: 100%;
        padding: 0;
        text-align: center;
    }

    footer .msjrecursos .equipo{
        width: 100%;
        text-align: center;
    }

    .home .tab-vertical{
        padding: 1rem;
    }
    
    .home .tab-vertical .nav{
        width: 30%;
    }
    .home .tab-vertical .nav a{
        font-size: 1rem;
        padding: 1rem;
    }

    .home .tab-vertical .content{
        width: 70%;
    }

    .page .page-slider .accesos-det{
        top: 80px;
    }

    .page .page-slider .accesos-det .notop-det a{
        font-size: 1.4rem;
        font-weight: bold;
        padding: 0 0.5rem;
    }
    
    .page .page-slider .accesos-det .notop-det a img{
        /* width: 30%; */
        height: 24px;
    }

    .page .page-slider .wrapper .slide .image{
        height:150px;
    }
    
    .page .page-slider .wrapper .slide .image img{
        top: 20px;
    }
}
.navicop{
    position:relative;
}
.navicop img{
    display: block;
}
.navicop-datos{
    position:absolute;
    z-index: 100;
    top:20px; 
}
.navicop-premios{
    position:absolute;
    z-index: 500;
    top:90px;
    height: 100% !important;
}
.zoomefect{
    animation: crecimiento 1s ease-in-out;
}

@keyframes crecimiento {
    0% {
        transform: scale(0.25);
    }
    100% {
        transform: scale(1);
    }
}
.banner_texto{
    position: absolute;
    right: 5%;
    top:50%;
    font-size: 6rem;
}
.subtitulo{
    color:#002856;
    font-size: 4rem;
    top:60%;
}
.bloque_verde{
    background-color: #77BC1F;
    height: 60px;
    display: flex;
    justify-content: center;
}
.bloque_verde>div{
    background-color: #1D2646;
    height: 20px;
    width: 180px;
}
.tree_column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 2rem;;
    align-items: center;
    gap:25px;
}
.tree_column h1{
    color:#1D2646;
    margin:20px 0;
}
.tree_column li{
    font-size: 1.5rem;
    margin: 15px 0;
}
.cuenta_cts{
    position: absolute;
}
.cuenta_cts_titulo{
    top:130%;
    z-index: 99000;
    color:white;
    font-size: 5rem;
    padding-left: 20px;
}

.cuenta_cts_detalle{
    top:180%;
    z-index: 999000;
    color:#77BC1F;
    font-size: 3rem;
    margin-top: 20px;
    padding-left: 20px;
}
.btn_enlace{
    display:block;
    margin-top: 25px;;
    background: #1e40af;
    color:white;
    padding: 12px 8px;
    border-radius:15px;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content:center
}
.btn_enlace:hover{
    background: #1e3a8a;
}
.btn_enlace i{
    font-size: 22px;
    margin-right:8px;
}